@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Cabin:ital,wght@0,400;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6rem;
    font-family: 'Cabin', sans-serif;
    list-style: none;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: rgb(249, 249, 249); 
}

span {
    color: rgb(54, 165, 244);
}

ul {
    list-style: none;
}

.texto {
    gap: 10px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.313);
    height: 100px;
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    color: rgb(249, 249, 249); 
    padding: 70px 10% 60px;
}

.ort {
    color: #fff;
    background-color: #515f67;
    padding: 10px 15px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

.nav-links a.activo {
    color: rgb(54, 165, 244);
}

.nav-links a:hover {
    color: rgb(54, 165, 244);
}

header {
    background-image: url(../images/Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.ocupation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 800px;
    gap: 5px;
}

.todo {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-color: rgb(54, 165, 244);
    gap: 40px;
    padding: 70px 10% 60px;
}

.ctn {
    border: 3px rgb(54, 165, 244) solid;
    padding: 6px 25px;
    color: rgb(54, 165, 244);
}

.muestra {
    width: 260px;
    color: aliceblue;
}

.menub {
    height: 150px;
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    color: rgb(0, 0, 0); 
    padding: 70px 10% 60px;
}

.menub a {
    color: rgb(0, 0, 0);
}

.mimi {
    height: 870px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 70px 10% 60px;
}

.imagesc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px 300px;
    gap: 40px;
}

.numero1 p {
    margin: 20px 10px;
}

.conteni {
    margin: 20px 10px;
}

.mitodo {
    display: flex;
    background-color: #515f67;
    height: 600px;
    justify-content: center;
    align-items: center;
    gap: 86px;
    padding: 70px 10% 60px;
}

.hihi {
    width: 740px;
    color: #fff;
}

.hihi p {
    margin: 10px 10px 0;
}

.boton {
    padding: 10px 30px;
    border: 3px #222222 solid;
    color: #222222;
}

.bajo {
    border-bottom: 2px #fff solid;
    color: #fff;
}

.bajo-oscuro {
    border-bottom: 2px #222222 solid;
    color: #222222;
}

.video img {
    width: 460px;
}

.principal {
    padding: 70px 10% 60px;
    background-color: rgb(54, 165, 244);
    color: #f1f1f1;
}

.primero {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.hpu p {
    font-size: 25px;
}

.principal1 {
    padding: 70px 10% 60px;
    background-color: rgb(255, 255, 255);
    color: #0a0a0a;
    line-height: 3rem;
}

.primero1 {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.hp1 {
    font-size: 25px;
    margin: 0 10px;
}

.otraclave {
    color: rgb(54, 165, 244);
}

.nuevo {
    color: #fff;
}

.prince {
    background-image: url(../images/bg_whoIs.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: rgb(249, 249, 249);
    padding: 70px 10% 60px;
}

.por-inten {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccionDos {
    margin-top: auto;
}

.contiene-todo {
    padding: 70px 10% 60px;
    background: url(../images/bg_contact.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.intento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px 25px;
}

.intento-caja input {
    background: transparent;
    width: 300px;
    height: 55px;
    border: 3px #fff solid;
}

label {
    display: block;
    float: center;
}

.grande {
    width: 100%;
    background: transparent;
    height: 200px;
    border: 3px #fff solid;
}

.esquina {
    width: 50%;
}

.pequeño {
    width: 50%;
}

.ampliar {
    background: rgb(54, 165, 244);
    color: #fff;
    padding: 10px 100px;
    border: none;
    cursor: pointer;
}

.fooder {
    height: 15vh;
    background: #353f48;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 60px;
}

.fin {
    color: #535d66;
    background: #353f48;
    border-right: 2px solid #535d66;
    padding: 0 20px;
    height: 30%;
}

.conjunto a {
    margin: 0 5px 10px;
}

.ride {
    color: #535d66;
    font-size: 97%;
    background: #353f48;
}

/* Estilos para pantalla grande (>= 857px) */
@media (min-width: 857px) {
    .navbar {
        padding: 18px 10%;
    }

    .todo,
    .mimi,
    .mitodo,
    .prince,
    .principal1 {
        padding: 70px 10% 60px;
    }

    .imagesc {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 300px;
    }
}

/* Estilos para tablet horizontal (>= 768px) */
@media (min-width: 768px) and (max-width: 856px) {
    .navbar {
        padding: 18px 5%;
    }

    .todo,
    .mimi,
    .mitodo,
    .prince,
    .principal1 {
        padding: 70px 5% 60px;
    }

    .imagesc {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 300px;
    }
}

/* Estilos para tablet vertical (>= 600px) */
@media (min-width: 600px) and (max-width: 767px) {
    .navbar {
        padding: 18px 5%;
    }

    .todo,
    .mimi,
    .mitodo,
    .prince,
    .principal1 {
        padding: 70px 5% 60px;
    }

    .imagesc {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 300px;
    }
}

/* Estilos para dispositivos móviles pequeños (>= 480px) */
@media (min-width: 480px) and (max-width: 599px) {
    .navbar {
        padding: 18px 3%;
    }

    .todo,
    .mimi,
    .mitodo,
    .prince,
    .principal1 {
        padding: 70px 3% 60px;
    }

    .imagesc {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 300px);
    }
}

/* Estilos para dispositivos móviles (>= 320px) */
@media (min-width: 320px) and (max-width: 479px) {
    .navbar {
        padding: 18px 3%;
    }

    .todo,
    .mimi,
    .mitodo,
    .prince,
    .principal1 {
        padding: 70px 3% 60px;
    }

    .imagesc {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 300px);
    }
}
